{% extends 'base/main.html' %}
{% block content %}

<div class="header-bar">
  <div class="logo"> <span style="padding-right: 3px;" class="icon">&#9775;</span>kitendo</div>
    <h1 id="log">Register</h1>
</div>

<div class="card-body">
    <span style="color: #4A00E0; padding-top: 7px; display: flex; font-size:12px;">&#10084; Your password can't be similar to your username </span>
  <span style="color: #4A00E0;  display: flex; font-size:12px;">&#10084; Your password muss contain at least 8 characters  </span>
  <span style="color: #4A00E0; padding-bottom: 20px; display: flex; font-size:12px;">&#10084; Your password can't be enterily numeric  </span>
    <form method="POST" onsubmit ="return validateForm()">
        {% csrf_token %}
        <label>{{form.username.label}}</label>
        {{form.username}}

        <label>{{form.password1.label}}</label>
        {{form.password1}}
        <label>{{form.password2.label}}</label>
        {{form.password2}}
        <input style="margin-top:15px ;" class="button" type="submit" value="Register">
    </form>
    <p>Already have an account? <a href="{% url 'login' %}">Login</a></p>
</div>




{% endblock content %}
